#m1,h1
{
    background-color: forestgreen;
}
#mm
{
    color: #000;
}
#aa2
{
    
}

#p
{

}
#bb1
{
    color: wheat;
}
#h4
{
    color:white;
}
#m1{
    margin: marque;
}
hr.new 
{
    border: black;
  }
  table {
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("g5.png");
}
td,th
{
    font-style: normal;
    color:honeydew;
}
#h1,h2
{
    color:black;
    font-weight: bold;
    background-color: gold;
    align-content: space-around;
}
nav{
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("g7.jpg");

}
#sp{
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("spring..jfif");

}

#bo
{
    background-color: green;
}
#l1
{
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("g7.jpg");
    
}
#aaa
{
    max: width 500px;
}
hr
 {
    background-color:blanchedalmond;
    display: list-item;
    margin-top: 0vmin;
    margin-bottom: 0.1vmin;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width:auto ;

  }
  

#l2
{
    background-size: cover;
    background-origin:border-box ;
    background-repeat: no-repeat;
    background-image: url("g6.jpg");
    

}
body{}
#navbut
{
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g.jpg");
    font-weight: bolder;
    
}
#navbut1
{
    color: white;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g1.jpg");
    font-weight: bolder;
    
}
#navbut2
{
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g2.jpg");
    font-weight: bolder;
    
}
#navbut9
{
    color: maroon;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("mitra200.jpg");
    font-weight: bolder;
}
#navbut3
{
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g3.jpg");
    font-weight: bolder;
    
}
#navbut8
{
    color:black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("kuboto.jpg");
    font-weight: bolder;

}
#rd1
{
    
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g2.jpg");
}
#navbut4
{
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g6.jpg");
    font-weight: bolder;
    
}
#inf
{
    color: black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g2.jpg");
    
}
#mar
{
color: black;
font-weight: bolder;
font-size:25;
}
hr{
    margin: 0.5%;
    border: black;
    color: #000;
}
#navbut5
{
    color:black;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g7.jpg");
    font-weight: bolder;
    
}
#navbut6
{
    color: white;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("graps.jpg");
    font-weight: bolder;
  
}
#navbut7
{
    color: burlywood;
    background-size: cover ;
    background-repeat:no-repeat ;  
    background-image:url("g5.png");
    font-weight: bolder;
   
}